<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="corelogfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/dyj.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/dyj.log%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="activedlqlog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/activedlq.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/lottery.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/lottery.log%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{80}.%method - %msg%n</pattern>
	    </encoder>
	</appender>
	
	<logger name="com.trent.core" additivity="false"
		level="info">
		<appender-ref ref="corelogfile" />
	</logger>
	<logger name="activedlq" additivity="false" level="INFO">
		<appender-ref ref="activedlqlog" />
	</logger>
	<logger name="org.apache" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="net.sf" level="ERROR" />
	<root level="INFO">
		<appender-ref ref="${logback.appender}" />
	</root>
</configuration>